
/* home/index page styles */
body {
    background: radial-gradient(circle, rgba(118, 167, 123, 0.752) 0%, rgb(218, 200, 141) 100%);
    color: rgb(88, 63, 54);
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
}

a {
    color: rgb(66, 95, 107);
    text-decoration: none;
}

#center {
    text-align: center;
    margin-top: 400px;
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid currentColor;

  animation: typewriter 4s steps(30) 1s both,
             blinkCursor 0.7s step-end infinite;
}


/* page 1 styles */
.no {
    display: inline-block;
    color: rgb(66, 82, 62);
    animation: dropFromTop 5s ease-out backwards;
    text-shadow: 0 0 10px rgba(123, 162, 95, 0.8), 
                 0 0 20px rgba(239, 239, 130, 0.774);
}

.no:hover {
  transform: scale(3) rotate(25deg);
  transition: transform 5s ease;
}

.drop {
  color: rgb(56, 54, 54);
  display: inline-block;
  animation: dropDown 15s ease forwards;
}

/* page 2 styles*/
.hay {
    font-size: 50px;
    font-weight: 700;
    color: rgb(165, 109, 145);
    display: inline-block;
    transition: transform 0.3s ease;
}

.hay:hover {
    transform: scale(1.1);
    color: rgb(66, 95, 107);
}

.line2 {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 5s; 
}

/* page 3 styles */
.es {
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(
        90deg,
        rgb(92, 156, 118),
        #cb98ac,
        rgb(185, 142, 102)
    );
    background-repeat: no-repeat;
    background-size: 80%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s linear infinite;
}

/* page 4 */
.alguien {
    display: inline-block;
    transition: transform 8s ease;
    text-shadow: 0px 0px 50px rgba(34, 255, 34, 0.8);
}

.alguien:hover {
    transform: rotate(360deg) skew(9deg, 7deg) translate(100px, -100px);
}

/* page 5 */
.llorar {
  display: inline-block;
  margin-top: 0.6em;
  font-size: 40px;
  color: rgb(34, 98, 104);
}

.llorar span {
  display: inline-block;
  animation: wave-text 1s ease-in-out infinite;
}

.llorar span:nth-of-type(1) { animation-delay: 0s; }
.llorar span:nth-of-type(2) { animation-delay: 0.1s; }
.llorar span:nth-of-type(3) { animation-delay: 0.2s; }
.llorar span:nth-of-type(4) { animation-delay: 0.3s; }
.llorar span:nth-of-type(5) { animation-delay: 0.4s; }
.llorar span:nth-of-type(6) { animation-delay: 0.5s; }

/* page 6 */
.cantando {
    display: inline-block;
    color: rgb(186, 95, 72);
    font-weight: 700;
    transition: 1s ease-in-out;
}

.cantando:hover {
    transform: skew(50deg, 0) scale(1) rotate(360deg);
}

/* page 7 */
.que {
    display: inline-block;
    transition: 3s ease-out;
    font-size: 20px;
}

.que:hover {
    transform: rotate(360deg) scale(0.5);
}

/* page 8 */

.cant {
    display: inline-block;
    color: rgb(41, 123, 161);
    font-size: 1.5em;
    transition: 3s ease;
    animation: netflix_style 3.5s infinite;
    outline: none;
    white-space: nowrap;
}

/* page 9 */

.end {
    display: inline-block;
    font-size: 50px;
    font-weight: 700;
    color: rgb(88, 63, 54);
    transition: text-shadow 0.5s ease;
    margin-top: 15px;
    margin-bottom: 15px;
}

.end:hover {
    text-shadow: 0px 0px 10px rgb(248, 132, 172);
}
/* end */


/* keyframes */

/* codepen.io typewriter animation - https://codepen.io/blackfrom80s/pen/ogoxLw */
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blinkCursor {
  50% { border-color: transparent; }
}

@keyframes dropDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100vh);
    opacity: 0;
  }
}

@keyframes dropFromTop {
    from {
        transform: translate(-100vh)
        
    }
    to {
        transform: translate(0)
        
    }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}

/* codepen.io animated text-shadow - https://codepen.io/erinesullivan/pen/ZMreqJ */
.hay:hover {
    animation: text-shadow 1.5s ease-in-out infinite;
    display: inline-block;
}

@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 0 0 0 #ccffb4, 0 0 0 #a2e49f, 0 0 0 #728473, 0 0 0 #2ea06b;
    }

    20% {  
        transform: translateY(-0.2em); 
        text-shadow: 0 0.125em 0 #ccffb4, 0 0.25em 0 #a2e49f, 0 -0.125em 0 #728473, 0 -0.25em 0 #2ea06b;
    }

    40% {  
        transform: translateY(0.1em);
        text-shadow: 0 -0.0625em 0 #ccffb4, 0 -0.125em 0 #a2e49f, 0 0.0625em 0 #728473, 0 0.125em 0 #2ea06b;
    }
    
    60% {
        transform: translateY(-0.05em);
        text-shadow: 0 0.03125em 0 #ccffb4, 0 0.0625em 0 #a2e49f, 0 -0.03125em 0 #728473, 0 -0.0625em 0 #2ea06b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 0 0 0 #ccffb4, 0 0 0 #a2e49f, 0 0 0 #728473, 0 0 0 #2ea06b;
    }
  }

@keyframes shine {
  0% { background-position-x: -500%; }
  100% { background-position-x: 500%; }
}

@keyframes wave-text {
  0%, 100% { transform: translateY(0em); }
  60%      { transform: translateY(-0.6em); }
}

@keyframes netflix_style {
  0% {
    text-shadow: 1px 1px #c07f84, 2px 2px #719883, 3px 3px #739fb3;
    color: #373535;
    transform: scale(1.5, 1.5);
  }
  10% {
    text-shadow: 1px 1px #c07f84, 2px 2px #719883, 5px 5px #739fb3;
    color: #302f2f;
    transform: scale(1.5, 1.5);
  }
  20% {    
    color: #3a3839;
    text-shadow: none;
    transform: scale(1.1, 1.1);
  }
  80% {
    opacity: 0;    
    color: #3f3f3e;
    transform: scale(0.85, 0.9);
  }
  100% {
    opacity: 0;
  }
}