body {
    background: radial-gradient(#e392b6, #9cc0e1);
    color: rgb(130, 101, 129);
    font-family: "Courier Prime", monospace;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#center {
    text-align: center;
    margin-top: 400px;
}

/* codepen.io typewriter animation */
.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid currentColor;

  animation: typewriter 4s steps(30) 1s both,
             blinkCursor 0.7s step-end infinite;
}
/* end */

.line2 {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cantando {
    display: inline-block;
    color: rgb(82, 66, 58);
    font-weight: 700;
    transition: 1s ease-in-out;
}

.cantando:hover {
    transform: skew(50deg, 0) scale(1) rotate(360deg);
}

/* codepen.io typewriter animation - https://codepen.io/blackfrom80s/pen/ogoxLw */
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blinkCursor {
  50% { border-color: transparent; }
}
/* end */