body {
    background-color: rgb(50, 49, 47);
    color: rgb(76, 75, 75);
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
}

a {
    color: rgb(54, 53, 53);
    text-decoration: none;
}

#center {
    text-align: center;
    margin-top: 400px;
}

.no {
    display: inline-block;
    color: rgb(228, 228, 166);
    animation: dropFromTop 5s ease-out backwards;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 
                 0 0 20px rgba(228, 228, 166, 0.672);
}

.no:hover {
  transform: scale(3) rotate(25deg);
  transition: transform 5s ease;
}

.drop {
  color: rgb(22, 22, 22);
  display: inline-block;
  animation: dropDown 15s ease forwards;
}

@keyframes dropDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100vh);
    opacity: 0;
  }
}

@keyframes dropFromTop {
    from {
        transform: translate(-100vh)
        
    }
    to {
        transform: translate(0)
        
    }
}
