body {
    background: radial-gradient(#669b6e, #675c52);
    color: rgb(228, 236, 143);
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
}

a {
    color: rgb(41, 123, 161);
    text-decoration: none;
}

#center {
    text-align: center;
    margin-top: 400px;
}

/* codepen.io typewriter animation */
.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid currentColor;

  animation: typewriter 4s steps(30) 1s both,
             blinkCursor 0.7s step-end infinite;
}
/* end */

/* codepen.io typewriter animation - https://codepen.io/blackfrom80s/pen/ogoxLw */
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blinkCursor {
  50% { border-color: transparent; }
}
/* end */

/* codepen.io netflix style animation with css - https://codepen.io/yemon/pen/BwOOWZ */
.cant {
    display: inline-block;
    color: rgb(41, 123, 161);
    font-size: 1.5em;
    transition: 3s ease;
    animation: netflix_style 3.5s infinite;
    outline: none;
    white-space: nowrap;
}

@keyframes netflix_style {
  0% {
    text-shadow: makelongshadow(100,1);
    color:#f3f3f3;
    transform: scale(1.5, 1.5);
  }
  10% {
    text-shadow: makelongshadow(100,1.5);
    color:#f3f3f3;
    transform: scale(1.5, 1.5);
  }
  15% {
     color:#f3f3f3;
  }
  20% {    
    color:#b17b7f;
    text-shadow: none;
    transform: scale(1.1, 1.1);
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;    
    color:#eaed8c;
    transform: scale(0.85, 0.9);
  }
  
  100% {
    opacity: 0;
  }
}
/* end */