body {
    background: radial-gradient(#578fce, #93c5d8);
    color: rgb(57, 103, 230);
    font-family: "Courier Prime", monospace;
}

a {
    color: rgb(41, 123, 161);
    text-decoration: none;
}

#center {
    text-align: center;
    margin-top: 400px;
}

/* codepen.io typewriter animation */
.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid currentColor;

  animation: typewriter 4s steps(30) 1s both,
             blinkCursor 0.7s step-end infinite;
}
/* end */

.line2 {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.que {
    display: inline-block;
    transition: 3s ease-out;
    font-size: 20px;
}

.que:hover {
    transform: rotate(360deg) scale(0.5);
}

/* codepen.io typewriter animation - https://codepen.io/blackfrom80s/pen/ogoxLw */
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blinkCursor {
  50% { border-color: transparent; }
}
/* end */